/*LANDING FACE STYLES*/

.landingFaceWrapper {
    position: fixed;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.soundCloudPlayerWrapper {
    margin: auto;
}

@media(min-width: 376px) {
    .landingFaceWrapper {
        width: 70%;
    }
}

/*MAIN FACE STYLES*/

.mainFaceWrapper {
    position: absolute;
    width: 100%;
}