@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./fonts/Montserrat-Light.ttf) format('truetype');
    font-display: swap;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
}